---
import { Image } from "astro:assets";

import omniLawn from "@assets/projects/omni-lawn.png";

interface ProjectComponentProps {
  readonly description: string;
  readonly heading: string;
  readonly imageDescription: string;
  readonly link: string;
}

const { description, heading, imageDescription, link } =
  Astro.props as ProjectComponentProps;
---

<div class="flex flex-col gap-2 rounded-lg p-2 shadow-md">
  <Image alt={imageDescription} class="m-0" src={omniLawn} />
  <h2 class="m-0">{heading}</h2>
  <p class="m-0">{description}</p>
  <a class="external m-0" href={link} rel="noopener noreferrer" target="_blank"
    >{heading}</a
  >
</div>

<style>
  a::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
  }
</style>
